{% extends "govuk-analytics-consent/template.njk" %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% set assetPath = "/govuk-frontend/assets" %}

{% block pageTitle %}Example service{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/govuk-frontend/govuk-frontend.min.css">
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Example service</h1>
  <div class="govuk-inset-text">
    <strong>Server-side consent check:</strong>
    {{ personalizationMessage }}
  </div>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/cookies",
          text: "Cookies"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module">
    import { initAll } from '/govuk-frontend/govuk-frontend.min.js'
    initAll()
  </script>
{% endblock %}
